<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="description" content="Hand-lettered US state mottos by Daniel Marino">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    <h1>
      <a href="https://iamdanielmarino.com">Daniel Marino</a> is hand-lettering US state mottos
    </h1>

    <main>{{ content | safe }}</main>
  </body>
</html>
