---
layout: default.njk
---

<div class="wrapper mt-2 mb-4">
  <div class="row">
    <section class="col-8 product-images">
      {% set images = helpers.productImages(state.abbreviation, type) %}

      {% if images.length > 1 %}
        <div class="product-thumbnails">
          {% for image in images %}
            <button type="button" class="product-thumbnail {% if loop.first %}selected{% endif %}" data-source="{{ image }}">
              <img src="{{ image }}" alt="Image of {{ state.name }}" width="60" height="60">
            </button>
          {% endfor %}
        </div>
      {% endif %}

      <div class="product-image">
        <img src="{{ images | first }}" alt="Image of {{ state.name }}">
      </div>
    </section>

    <section class="col-4 product-details">
      <h1 class="product-title mb-1">{{ title }}</h1>

      <div class="product-description">
        “{{ motto }}”
      </div>

      <div class="product-fine-print">
        <p>Printed on archival, acid-free, durable matte paper. Please allow 2 - 5 business days to fulfill shipment. Generally shipped in kraft tube boxes with plastic end caps.</p>
      </div>

      <hr>

      <form method="post" action="/cart" accept-charset="utf8">
        <input type="hidden" name="utf8" value="✓">

        <div class="product-footer">
          <div class="product-price">
            $12
          </div>

          <button type="submit" name="submit" id="add-to-cart">Add to Cart</button>
        </div>
      </form>

      <div class="product-share">

      </div>
    </section>
  </div>
</div>
