@import vars

#hero
  align-items: center
  background-size: cover
  color: #fff
  display: flex
  justify-content: center
  padding: 2rem
  text-align: center
  text-shadow: 3px 3px 5px rgba(#000, 0.4)
  @media (min-width: $phone)
    height: 65vh
  h1
    font-size: 4rem
    font-weight: 900
    margin: 0 0 0.5rem
  h2
    font-size: 1rem
    font-weight: 600
    margin: 0 0 2rem
  a
    border: 1px solid #fff
    color: #fff
    display: inline-block
    font-size: 1.25rem
    line-height: 1
    padding: 1rem 1.5rem
    text-decoration: none
    transition: all $duration
    &:hover
      background: rgba(#fff, 0.2)

.state-nh
  background: url("https://raw.githubusercontent.com/starzonmyarmz/statemottoprints/master/source/images/hero_nh.jpg") 50% 50% no-repeat
