@import vars

#hero
  overflow: hidden
  height: 65vh
  position: relative

.slide
  align-items: center
  background-size: cover !important
  bottom: 0
  display: flex
  left: 0
  position: absolute
  text-align: center
  transition: all 0.5s
  right: 0
  top: 0

.slide-content
  background: rgba(#fff, 0.4)
  padding: 2rem

  img
    width: 100%

  p
    color: #222
    font-size: 1.1rem
    font-weight: 500
    line-height: 1.5

  a
    background: rgba(0, 0, 0, 0.8)
    color: #fff
    display: inline-block
    line-height: 1
    padding: 1rem 1.5rem
    text-decoration: none
    transition: all $duration
    width: 100%
    &:hover
      background: #46cdcf

#prints
  background: url('images/hero_living_room.jpg') 75% 0 no-repeat
  img
    filter: drop-shadow(0 3px 7px rgba(255, 255, 255, 0.75))
    max-width: 350px

#tees
  background: url('images/hero_new_smp_tees_bg.jpg') 0 100% no-repeat
  img
    max-width: 400px



.slideshow-initiated
  .slide
    opacity: 0
    transform: scale(1.2)
    visibility: hidden
    z-index: 0

  .slide-visible
    opacity: 1
    transform: scale(1)
    visibility: visible
    z-index: 1

.slide-buttons
  margin-top: 1rem
  text-align: center

.slide-button
  background: transparent
  border: 2px solid $gray-light
  border-radius: 100%
  color: transparent
  cursor: pointer
  height: 12px
  line-height: 0
  margin: 0 0.25rem
  overflow: hidden
  padding: 0
  transition: all $duration
  width: 12px

.slide-button-visible
  background: $gray-light
  border-color: $gray-medium



@media (min-width: 500px)
  #hero a
    width: auto



@media (min-width: 840px)

  #prints
    justify-content: flex-start
    padding: 4rem
    .slide-content
      width: calc(40vw - 4rem)

  #tees
    justify-content: flex-end
    padding: 4rem
    .slide-content
      width: calc(50vw - 4rem)
