#products
  text-align: center
  .product
    flex: 0 0 25%
    min-height: 1px
    margin-bottom: 2rem
    max-width: 25%
    padding-left: 1rem
    padding-right: 1rem
    position: relative
    a
      color: #444
      display: block
      text-decoration: none
    img
      width: 100%
    h5
      margin: 1rem 0 0.5rem

  .sale
    background: #444
    color: #fff
    line-height: 1
    padding: 5px
    position: absolute
    right: 5px
    top: 5px



#pagination
  border-top: 1px solid #ccc
  padding-top: 2rem
  a
    display: inline-block
    margin: 0 0.25rem
  .disabled
    display: none
