@import vars

.wrapper
  margin: 0 auto
  max-width: 1024px
  width: 100%

.wrapper-small
  margin: 0 auto
  max-width: 768px
  width: 100%

.row
  display: flex
  flex-wrap: wrap

.empty
  background: $gray-lighter
  border: 1px solid $gray-light
  padding: 6rem
  text-align: center

.text-center
  text-align: center

.valign-middle
  vertical-align: middle

.m-0
  margin: 0

.mt-2
  margin-top: 2rem

.mb-0
  margin-bottom: 0rem
.mb-2
  margin-bottom: 2rem
.mb-4
  margin-bottom: 4rem

.mobile-padding
  padding-left: 2rem
  padding-right: 2rem
  @media (min-width: $desktop)
    padding-left: 0
    padding-right: 0

@media (min-width: $tablet)
  .mobile-only
    display: none !important
