---
pagination:
  data: states
  size: 1
  alias: state
layout: default.njk
renderData:
  title: "{{ state.name }}"
permalink: "/states/{{ state.name | slug }}/"
---

<section id="products" class="mt-2 mb-4">
  <h2>All Products for {{ title }}</h2>

  <div class="wrapper">
    <div class="row">
      {# {% include "_prints.njk" %} #}
    </div>
  </div>
</section>
