---
title: FAQs
layout: default.njk
permalink: /faqs/
---

<section class="wrapper-small mt-2 mb-4 mobile-padding">
  <h2 class="text-center">{{ title }}</h2>

  <h4>When will I receive my order?</h4>
  <p>All Products are made to order, We typically ask to allow 2 - 5 business days to fulfill shipment. However, due to supply disruptions caused by the Covid-19 pandemic we ask that you give us a little extra time to fulfill orders. At this time, tee shirts can take up to 6 weeks to fulfill while prints are fulfilled in about 10 days. We appreciate your understanding!</p>

  <h4>How are posters shipped?</h4>
  <p>Posters are generally shipped in kraft tube boxes with plastic end caps.</p>

  <h4>Do you accept returns?</h4>
  <p>Sorry, but not at this time. If your item arrives damaged, a new copy will be sent upon receiving a photo of the damaged item within 3 days of receiving your order.</p>

  <h4>Do you customize products?</h4>
  <p>Maybe! Send us a message, and let us know what you’re looking for.</p>
</section>
