---
title: Home
layout: default.njk
permalink: /
---

<section id="products" class="mt-4 mb-2">
  <h2>Featured Products</h2>

  <div class="wrapper">
    <div class="row">
    </div>
  </div>
</section>
