---
title: Home
layout: default.njk
permalink: /
---

<section>
  {% for state in states %}
    <button type="button" data-enlarge>
      <img src="/images/product/{{ state.abbreviation }}_print_white.jpg" alt="{{ state.name }} &mdash; {{ state.motto }}" loading="lazy">
      <span>{{ state.name }} &mdash; {{ state.motto }}</span>
    </button>
  {% endfor %}
</section>
