---
title: Prints
layout: default.njk
permalink: /products/prints/
---

<section id="products" class="mt-2 mb-4">
  <h2>State Motto Prints</h2>

  <div class="wrapper">
    <div class="row">
      {% for state in states %}
        <div class="product">
          <a href="/products/prints/{{ state.name | slug }}">
            <img src="/images/product/{{ state.abbreviation }}_print_white.jpg" alt="Product shot of {{ state.name }}" loading="lazy">
            <h5>{{ state.name }}</h5>
            <div class="price">$12</div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
