---
permalink: /products.json
---
[
  {% for state in states %}
    {% for size, price in tees %}
      {
        "id": "{{ state.abbreviation }}_tee_{{ size }}",
        "price": {{ price }},
        "url": "https://{% if env.environment == 'staging' %}staging-pages{% else %}www{% endif %}.statemottoprints.com/products.json"
      }{{ '' if loop.last else ',' }}
    {% endfor %}
    {{ '' if loop.last else ',' }}
  {% endfor %}
]
