---
title: Shop by State
layout: default.njk
permalink: /states/
---

<section id="products" class="mt-2 mb-4">
  <h2>Shop by State</h2>

  <div class="wrapper">
    <div class="row">
      {% for state in states %}
      {% set images = helpers.productImages(state.abbreviation, 'print') %}
      {% set cover = images | first %}

        <div class="product">
          <a href="/states/{{ state.name | slug }}">
            <img src="{{ cover }}" alt="Product shot of {{ state.name }}" loading="lazy">
            <h5>{{ state.name }}</h5>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
