<div class="wrapper">
  <div class="row">
    <section class="col-8 product-images">
      {% if product.images.size > 1 %}
        <div class="product-thumbnails">
          {% for image in product.images %}
            <button type="button" class="product-thumbnail {% if forloop.first %}selected{% endif %}" data-source="{{ image | product_image_url }}">
              <img src="{{ image | product_image_url size:"thumb" }}" alt="Image of {{ product.name | escape }}">
            </button>
          {% endfor %}
        </div>
      {% endif %}
      <div class="product-image">
        <img src="{{ product.image | product_image_url }}" alt="Image of {{ product.name | escape }}">
      </div>
    </section>

    <section class="col-4 product-details">
      <h1 class="product-title">{{ page.name }}</h1>

      {% if product.description != blank %}
        <div class="product-description">
          {{ product.description | paragraphs }}
        </div>
      {% endif %}

      <form method="post" action="/cart">
        {% if product.has_default_option %}
          {{ product.option | hidden_option_input }}
        {% else %}
          {{ product.options | options_select id: "options" }}
          <div id="product-options"></div>
        {% endif %}

        <div class="product-footer">
          <div class="product-price">
            {{ product.default_price | money_with_sign | remove: ".00" }}
          </div>

          <button type="submit" name="submit" id="add-to-cart">Add to Cart</button>
        </div>
      </form>

      <div class="product-share">
        Tweet, FB, Pin
      </div>
    </section>
  </div>
</div>
